img {
    width: 100px;
    height: 100px;
}
.widthpage{
     font-weight: bold;
}
.pageItem{
    border: solid 1px black;
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px;
    cursor:pointer;
}
.pageItem.currentPage{
    font-weight: bold;
    background-color:gray;
    color:gold;
    border: solid 1px gold;
}
.user{
    border: solid 1px gray;
    margin-top:10px;
}